
.icon-clock:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-guidedog:before { content: '\e802'; } /* '' */
.icon-flight:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-tools:before { content: '\e805'; } /* '' */
.icon-chart-bar:before { content: '\e806'; } /* '' */
.icon-flag:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */